.field {
        background-color: orange;
        font-style: initial;
        font-weight: bolder;
        border-style: dashed;
        border-width: 5px;
        border-color: red;
        width: 200px;
        height: auto;
        float: inline-start;
        padding: 1rem, 1rem, 1rem, 1rem;
        
}

h1, p {
  text-align: center;
}



#legend {
        font-style: italic;
        font-weight: bolder;
        font-display: black;
        font-size: xx-large;
        text-decoration: underline;
        text-decoration: wavy;
        font-size:20px;
}
.wright {
         position: relative;
       left: 500px;
}
#chepe {
        background-color: whitesmoke;
        width: 1247px;
        height: 400px;
}

.circular {
      border-radius: 100%;
}




